.combat-sidebar {
    .resources {
        display: flex;
        flex-direction: row;
        flex: unset;
    }
    .resource {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 3rem;
        text-align: center;
        flex: 1;


        label {

            font-size: var(--font-size-16);
        }
        input {
            margin-left: -2rem;
            align-self: left;
            color: white;
            flex: 0 0 30px;
        }
    }

    .token-resource {
        white-space: nowrap;
    }
}