<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{> slotsDisplay}}
    {{> itemTraits traits=document.system.traits path="system.traits" label="IMPMAL.Traits"}}

</section>