<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{> nameListInput label="IMPMAL.LocationChoices" list=system.location.choices path="system.location.choices"}}
</section>