<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    {{formGroup fields.category value=source.system.category choices=(config "modificationTypes")}}

        {{formGroup fields.usedWith value=source.system.usedWith}}
        {{> itemTraits traits=document.system.addedTraits path="system.addedTraits" label="IMPMAL.TraitsAdded"}}
        {{> itemTraits traits=document.system.removedTraits path="system.removedTraits" label="IMPMAL.TraitsRemoved"}}
</section>