body.theme-light .application.impmal.sheet {
    --condition : rgba(0, 0, 0, 0.1);
    --pip : var(--color-warm-3);
    --dropshadow : var(--color-light-6);
}

.warhammer.impmal.sheet {

    --condition : var(--color-cool-3);
    --dropshadow : var(--color-cool-3);
    --pip : var(--color-light-2);

    select {
        option {
            color: black;
        }
    }

    .window-content {
        gap: 0.5rem;
    }

    .droppable {
        &.hover {
            box-shadow: 0 0 10px inset var(--dropshadow);    
        }
    }
    
    .tab[data-tab="effects"] {
        > .flexrow {
            gap: 0.5rem;
        }
        
    .conditions {
        flex: 0 0 10rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .condition {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            background-color: var(--condition);
            padding: 5px;
            
            .pips {
                display: flex;
                width: 100%;
                justify-content: right;
                height: 10px;
                .pip {
                    // border-radius: 10px;
                    border:  1px solid var(--pip);
                    cursor: pointer;
                    width: 10px;
                    margin: 0px 3px;
                }

                .pip.filled {
                    background: var(--pip);
                }
            }
        }
    }

    }

}


.editor-section {

    .dropdown-content {

        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 250ms;
        > * {overflow:hidden};
        &.expanded {
            grid-template-rows:  1fr;
        }
    }

    > .header {
        display: flex;
        > * {
            flex: 1;
        }

        .collapse-toggle {
            flex: 0 0 1.5rem;
            text-align: center;
            i {
                color: var(--color-text-primary);
            }
        }
    }

    .header:has(+ .dropdown-content.collapsed) {
        .collapse-toggle {
            i {
                transform: rotate(-90deg);
            }
        }
    }

    .header:has(+ .dropdown-content.expanded) {
        .collapse-toggle {
            i {
                transform: rotate(0deg);
            }
        }
    }
}