@import "./actor/actor-sheet";
@import "./actor/character-sheet";
@import "./actor/vehicle-sheet";
@import "./item/item-sheet";
@import "./apps/item-traits";
@import "./apps/script-config";
@import "./apps/document-choice";
@import "./apps/form";
@import "./apps/choice-config";
@import "./apps/effect-config";
@import "./apps/dialogs/test-dialog";
@import "./chat/roll";
@import "./chat/item-post";
@import "./chat/chat";
@import "./chat//effect-buttons";
@import "./apps/advancement";
@import "./foundry/combat-tracker";
@import "./foundry/token-hud";
@import "./foundry/editor";
@import "./actor/patron-sheet";
@import "./actor/npc-sheet";
@import "./foundry/general";

// Shared properties
.impmal {
    a {
        cursor: pointer
    }

    img {
        border: none;
    }

    .inactive {
        opacity: 0.5;
    }

    .disabled {
        pointer-events: none;
    }

    .centered {
        text-align: center;
    }

    input[type="number"] {
        text-align: center;
    }

    nav.sheet-tabs .item {
        padding: 8px 12px; // Foundry defines this but only in .sheet class applications
    }

    section.list {
        display: flex;
        flex-direction: column;

        .list-item {
            display: flex;
            flex-direction: column;
        }

        i {
            margin-right: 5px;
        }
        
        .list-row {
            display: flex;
            align-items: center;

            >* {
                flex: 1;
                text-align: center;
            }

            .list-name,
            .wide {
                flex: 2;
            }

            .list-name {
                display: flex;
                align-items: center;
                text-align: unset;
                > *:not(img,.use-item) {
                    margin: 0px 5px;
                }
            }

            .use-item,
            .list-name img,
            .list-image {
                flex: 0 0 30px;
                height: 30px;
            }

            .use-item {
                font-size: 18px;
                color: black;
                text-align: center;
                line-height : 30px;
                i {
                    margin: 0px;
                }
            }

            .small {
                flex: 0 0 50px;
            }

            .list-controls {
                flex: 0 0 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }

            .list-controls.single {
                flex: 0 0 20px;
            }

        }
        .summary {}
    }

    .list-columns {
        display: flex;
        section.list {
            flex: 1
        }
    }
}