@import "./actor/actor-sheet";
@import "./actor/character-sheet";
@import "./actor/vehicle-sheet";
@import "./item/item-sheet";
@import "./apps/item-traits";
@import "./apps/script-config";
@import "./apps/document-choice";
@import "./apps/form";
@import "./apps/choice-config";
@import "./apps/effect-config";
@import "./apps/document-resolver";
@import "./apps/dialogs/test-dialog";
@import "./chat/roll";
@import "./chat/item-post";
@import "./chat/chat";
@import "./chat//effect-buttons";
@import "./apps/advancement";
@import "./foundry/combat-tracker";
@import "./foundry/token-hud";
@import "./foundry/editor";
@import "./actor/patron-sheet";
@import "./actor/npc-sheet";
@import "./foundry/general";
@import "./apps/chargen";
@import "./apps/choice-tree";

// Shared properties
.impmal {
    a {
        cursor: pointer
    }

    img {
        border: none;
    }

    .inactive {
        opacity: 0.5;
    }

    .disabled {
        pointer-events: none;
    }

    .centered {
        text-align: center;
    }

    input[type="number"] {
        text-align: center;
    }

    nav.sheet-tabs .item {
        padding: 8px 12px; // Foundry defines this but only in .sheet class applications
    }

    section.list {
        display: flex;
        flex-direction: column;

        .list-item {
            display: flex;
            flex-direction: column;
        }

        i {
            margin-right: 5px;
        }
        
        .list-row {
            display: flex;
            align-items: center;

            >* {
                flex: 1;
                text-align: center;
            }

            .list-name,
            .wide {
                flex: 2;
            }

            .list-name {
                display: flex;
                align-items: center;
                text-align: unset;
                > *:not(img,.use-item) {
                    margin: 0px 5px;
                }
            }

            .use-item,
            .list-name img,
            .list-image {
                flex: 0 0 30px;
                height: 30px;
            }

            .use-item {
                font-size: 18px;
                color: black;
                text-align: center;
                line-height : 30px;
                i {
                    margin: 0px;
                }
            }

            .small {
                flex: 0 0 50px;
            }

            .list-controls {
                flex: 0 0 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }

            .list-controls.single {
                flex: 0 0 20px;
            }
        }
        .summary {}
    }

    .list-columns {
        display: flex;
        section.list {
            flex: 1
        }
    }

    .conditions {
        flex: 0 0 130px;
        margin-right: 10px;

        .condition {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            align-items: center;

            border: 1px solid black;
            margin: 3px;
            padding: 3px;

            .pips {
                display: flex;
                width: 100%;
                justify-content: right;
                height: 10px;
                .pip {
                    // border-radius: 10px;
                    border:  1px solid black;
                    cursor: pointer;
                    width: 10px;
                    margin: 0px 3px;
                }

                .pip.filled {
                    background: black;
                }
            }
        }
    }

}

blockquote.foundry-note {
    border-left: none;
    font-style: normal;
    border-radius: 20px;
    padding: 5px;
    background: linear-gradient(rgba(255, 143, 32, 0.76) 0%, rgba(255, 77, 30, 0.75) 100%);
    box-shadow: 0 0 7px black;
    font-style: normal;
    color: black;

    a.content-link {
        color: #1c3132;
    }

    &::before {
        content: url(../../../icons/vtt.png);
        float: left;
        margin-right: 5px;
      }
  }