<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header" style="margin-bottom: 5px;">
        <img class="profile" src="{{actor.img}}" data-edit="img">
        <div class="header-details">
            <div class="details-row name">
                <input type="text" name="name" value="{{actor.name}}" placeholder="{{localize 'Name'}}">
            </div>
        </div>
    </header>
    <section class="tab-section">
        <div class="tab notes-tab active" data-tab="notes">
            {{> systems/impmal/templates/actor/tabs/actor-notes.hbs}}
        </div>
    </section>
</form>