<div class="power-fields">
    <div class="form-group">
        <label>{{localize "IMPMAL.Push"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="push" {{checked fields.push}}>
        </div>
    </div>
</div>