<div class="item-notes">
        <div class="note-section">

            <div class="notes-header">
                {{localize "IMPMAL.Notes"}}
            </div>
            <div class="notes-content">
                {{editor enriched.patron.notes target="system.patron.notes" engine="prosemirror" button="true" button=true owner=owner editable=editable}}
            </div>
        </div>
</div>