<div class="form-group">
    <label>{{localize "IMPMAL.Traits"}} <a class="edit-traits"><i class="fa-solid fa-gear"></i></a></label>
    <div class="form-fields">
        <input type="text" value="{{system.traits.displayString}}" disabled>
    </div>
</div>