<div class="choice-group">
    <label>{{localize label}} 
        <a class="choice-config" data-path="{{path}}"><i class="fa-solid fa-gear"></i></a> 
        <a class="choice-tree" data-path="{{path}}"><i class="fa-solid fa-diagram-project"></i></a></label>
    <div class="choice-text">
        {{display}}
    </div>
</div>