<div class="form-group item-traits stacked">
    <label><a data-action="editTraits" data-path="{{path}}">{{localize label}} <i class="fa-solid fa-gear"></i></a></label>
    <div class="form-fields">
        <div class="readonly">{{traits.original.displayString}}</div>
    </div>
</div>