<div class="form-group">
    <label>{{localize label}} <a class="choice-config" data-path="{{path}}"><i class="fa-solid fa-gear"></i></a></label>
    <div class="form-fields">
        <input type="text" value="{{display}}" disabled>
    </div>
</div>