<div class="form-group">
    <label><a data-action="editTraits" data-path="{{path}}">{{localize label}} <i class="fa-solid fa-gear"></i></a></label>
    <div class="form-fields">
        <input type="text" value="{{{traits.original.displayHtml}}}" disabled>
    </div>
</div>