.test-buttons {
    > button {
        display: flex;
        align-items: center;
        margin: 3px 0px;
        line-height: 1rem;
        .test-label {
            font-size: var(--font-size-12);
        }
        > * {
            padding:1px;
            margin: 0px 5px;
        }
        p {
            flex: 1;
        }
        img {
            height: 30px
        }
    }
}