.message .opposed-message,
.message .impmal.test {

    .title {
        text-align: center;
        font-weight: bold;
        font-size: var(--font-size-16);
    }
    .comparison {

        font-size: var(--font-size-16);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        >* {
            margin: 0px 5px;
            flex: 1
        }

        .roll {
            display: flex;
            justify-content: end;
            align-items: center;

            >* {
                margin: 0px 3px;
            }

            .reverse-icon {
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4738270308123249) 50%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .vs {
            flex: 0 0 20px;
        }

        .target {
            display: flex;
            justify-content: space-between;
        }

        .test-breakdown {
            opacity: 0.7;
        }
    }

    .sl {
        display: flex;
        justify-content: center;

        div {
            font-size: var(--font-size-28);
            background: rgba(0, 0, 0, 0.05);
            border-radius: 3px;
            text-align: center;
            width: 20%;
            height: 40px;
            line-height: 40px;
        }
    }

    &.availability .item-image {
        
        display: flex;
        justify-content: center;
        img {
            height: 60px;
            width: 60px;
            cursor: pointer;
        }

        &.inactive {
            img {
                cursor: not-allowed;
            }
        }
    }

    a.inline-roll {
        background: none;
        padding: 1px 3px;
        border-radius: 10px;
        white-space: unset;
        word-break: unset;
        border: 0px;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5px;

        >* {
            border: 1px solid #555;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.05);
            padding: 1px 3px;
            margin: 0px 3px 3px 3px;
        }
    }

    .outcome {
        text-align: center;
    }

    .fumble,
    .critical {
        font-weight: bold;
        white-space: nowrap;
    }

    .color-negative
    {
        color: darkred;
        i {
            color: darkred;
        }
    }

    .color-positive
    {
        color: darkblue;
        i {
            color: darkblue;
        }
    }


    button {
        width: 100%;
        margin-bottom: 0.5rem;
    }


    .defense,
    .targets {
        display: flex;
        align-items: center;
    }

    .defense,
    .target-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        img {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        .targeter,
        .target {
            width: 100%;
            display: flex;
            align-items: center;

            .opposed-result {
                flex: 1;
            }

            .controls {
                flex: 0 0 25px;
                text-align: center;

                button {
                    height: 25px;
                    width: 100%;
                    padding: 0px;
                    padding-left: 3px;
                    line-height: unset;
                }
            }

            // .attacker .opposedSL {
            //     color: darkblue
            // }

            // .defender .opposedSL {
            //     color: darkred
            // }

            .opposedSL {
                font-weight: bold;
            }
        }
    }
}