.impmal.advancement
{
    .tab-content {
        height: calc(100% - 80px);
        overflow: auto;
    }

    .sheet-tabs {
        display : flex;
        justify-content: space-around;
    }

    .advancement-list {

        .header {
            margin-top: 5px;
            font-weight: bold;
        }

        > * {
            display: flex;
            text-align: center;
            align-items: center;
            > * {
                flex: 1
            }
        }

        .name {
            flex: 2;
            text-align: left;
        }

        .characteristic,
        .skill {
            .advances { 
                display: flex;
                > * 
                {
                    flex: 1
                }
                .value {
                    flex: 0 0 20px;
                }
            }
        }

        input {
            margin: 5px;
        }

        &[data-tab="log"]
        {
            a {
                flex : 0 0 10px;
            }
            .name {
                flex: 3;
            }
            input {
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }


    .advancement-info {
        display: flex;
        font-size: var(--font-size-24);
        align-items: center;
        height: 40px;
        justify-content: space-evenly;
        text-align: center;

        .overspent {
            color: darkred;
        }
    }
}