.impmal.chargen
{
    .chargen-content {
        display: flex;
        .stage-buttons {
            flex: 0 0 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            button {
                margin: 5px 0px;
            }
        }

        table {
            text-align: center;
            background: none;
            border: 0px;
            tr {
                background: none;
                border-bottom: 1px solid black;
                td {
                    border-right: 1px solid black;
                }
                td:last-of-type {
                    border-right: 0px;
                }
                td:first-of-type {
                    text-align: left;
                    width: 100px;
                }
            }
            tr:last-of-type {
                border-bottom: 0px;
            }
        }

        .chargen-data {
            display: flex;
            flex-direction: column;
            .group {
                display: flex;
                .details {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    flex: 1;
                    &.long {
                    }
                }
            }
        }
    }
}

.impmal.chargen-stage {
    form > :first-child {
        height: unset;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .stage-title {
        text-align: center;
        h3 {
            border-bottom: 3px solid transparent;
            border-image: linear-gradient(90deg, rgba(6,92,99,0) 0%, rgba(6,92,99,1) 50%, rgba(6,92,99,0) 100%);
             border-image-slice: 1;
        }
    }

    .alert {
        color:rgba(214, 150, 0, 0.8);
        flex: 0 0 20px;
        font-size: 20px;
        text-align: 20px;
        line-height: 20px;
    }

    .stage-details {
        height: calc(100% - 7rem);
        display: flex;
        flex-direction: column;
    }


    
    .choices {
        display: flex;
        align-items: center;
        a,
        > select {
            flex: 1;
            margin: 0px 20px;
        }
        
        .choice-group {
            label {
                margin-right: 5px;
            }
            display: flex;
            align-items: center;
            margin: 3px;
            flex: 0 0 130px;
        }
        input {
            flex: 0 0 30px;
        }
        &.wrap {
            flex-wrap: wrap;
        }
    }

    .buttons {
        margin: 5px;
        display: flex;
        justify-content:space-evenly;
        > button {
            flex: 0 1 200px;;
            margin: 0px 10px;
        }
    }

    .result {
        margin: 5px 0px;
    }

    &.characteristics {
        line-height: 2rem;
        .ch-rolls {
            text-align: center;
            > * {
                :first-child
                {
                    text-align: left;
                }
            }
        }

        .allocation-input {
            margin: 3px 0px;
            flex: 0 0 2rem;
        }

        .ch-roll {
            border: 1px solid transparent;
            height: 2rem;
        }

        .ch-drag {
            border: 1px dashed black;
            border-radius: 5px;
            height: 2rem;

        }

        .ch-allocate {
            text-align: center;
            height: 2rem;
        }
    }

    &.role {
        .xp {
            display: flex;
            input {
                width : 5rem;
                margin: 0px 5px;
            }
            align-items: center;
        }
    }

    .rolled-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        h4 {
            text-align: center;
        }
        .item-image {

            height: 200px;
            width: 200px;
        }
        div.item-image {
            border: 2px dashed black
        }
    }
}