.impmal.document-resolver {
    form {
        height: 100%;
        
        > div {
            height: calc(100% - 45px);
            overflow: auto;
            color: #CCC
        }
    }

    .document {
        height: 100px;
        display: flex;
        align-items: center;
        img {
            object-fit: contain;
            flex: 0 0 100px;
            width: 100px;
            height: 100px;
            padding: 10px;
        }
        a {
            flex: 1
        }
        input {
            flex: 0 0 20px
        }
    }

}