// Ensures all impmal forms scroll properly, Meaning the Submit button is always visible, but form content scrolls
.impmal.form {
    .window-content {
        overflow-y: hidden;
    }

    form {
        height: 100%;

        >  :first-child {
            height: calc(100% - 32px);
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}