.warhammer.script-config {
    min-width: 300px;
    min-height: 200px;

    .no-ace {
        font-family: "Courier";
        // resize: none;
    }

    .form-group:has(textarea) {
        margin: 5px 0px;
        height: 20%;
        div {
            height: 100%;
            textarea {
                height: calc(100% - 15px);
            }
        };
    }

}
