@mixin gradient-border($color:rgba(0,0,0,0.4738270308123249)) {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(36deg, rgba(255,255,255,0) 0%, $color 50%, rgba(255,255,255,0) 100%);
    border-image-slice: 1;
}