@use "./var" as *;

body.impmal-theme {

    .warhammer.application {

        --color-scrollbar:  var(--impmal-lightgreen);

        form {
            span.units {
                color: #BBB;
            }

            .slim .form-fields>label {
                color: #DDD;
            }
        }

       
        .notes,
        .hint,
        .units {
            color: #BBB;
        }

        button {
            @include impmal-button;
        }


        .form-group {
            gap: 0px;
        }


        input[type="range"] {
            border: none;

            &:focus {
                background: none;
            }
        }

        input[type="color"] {
            border-color: var(--impmal-lightblue);
        }

        input[type="radio"] {
            // -webkit-appearance: none;
            // appearance: none;
            // background: none;
            // border: none;
            // height: 1.2em;
            // width: 1.2em;
            // border: 1px solid var(--impmal-lightgreen);
            // border-radius: 50%;

            // &:focus {
            //     background: none;
            //     border: 1px solid var(--impmal-lightgreen);
            // }

            // &:checked {
            //     background: none;
            //     box-shadow: 0px 0px 10px var(--impmal-lightgreen);
            //     border: 1px solid var(--impmal-lightgreen);

            //     &::before {
            //         content: "";
            //         background: var(--impmal-lightgreen);
            //         border: 1px solid var(--impmal-lightgreen);
            //         border-radius: 50%;
            //         display: inline-block;
            //         height: 0.6em;
            //         width: 0.6em;
            //         position: relative;
            //         left: 2px;
            //     }
            // }

        }


        div.sheet-list {

            --list-row-alternate : transparent;
            @include reticule(2px, 15px);
            margin: 5px;
            padding: 5px;

            .list-header {
                background: none;
                border: none;
                border-bottom: 2px solid var(--impmal-lightblue);
                margin-bottom: 5px;
            }

            .list-row:not(.list-header,.no-scan):hover {
                position: relative;
                background: var(--impmal-lightblue);
                @include scan(false);

                >* select {
                    background: var(--impmal-darkblue);
                    border-color: rgba(221, 221, 221, 0.5)
                }
            }

            .row-content {
                input {
                    background: rgba(0, 0, 0, 0.05);
                    border-radius: 3px;
                    height: unset;
                    line-height: 1.5rem;
                    margin: 0.2rem;
                    border: 1px solid var(--impmal-lightblue);

                    &:disabled {
                        border: none;
                    }
                }
            }

            // &:hover {
            //     background: rgba(6, 92, 99, 0.5);
            //     transition: 0.5s
            // }
        }




    }
}


body.impmal-theme .application:not(.journal-sheet) {

    --color-text-primary: #DDD;
    --color-text-secondary: #BBB;
    --color-text-subtle : var(--impmal-grey);
    --color-form-label: var(--impmal-grey2);
    --color-form-label-hover: var(--color-white-2);
    --color-form-hint: var(--impmal-grey);
    --color-form-hint-hover: var(--color-white-2);

    button {
        @include impmal-button()
    }

    .window-header {
        @include window-header;
    }

    img {
        border-color: var(--impmal-lightblue);
    }


    .window-content {
        background: rgb(28, 49, 50);
        background: linear-gradient(128deg, rgba(28, 49, 50, 1) 0%, #124549 100%);
        color: #DDD;
    }

    fieldset {
        border-color: var(--impmal-lightblue);
        border-style: solid;
        margin-bottom: 3px;
    }

    
    textarea {
        color: #DDD;
        border-color: var(--impmal-lightblue)
    }

    nav.sheet-tabs {
        border: 1px solid var(--impmal-lightblue);
        border-right: none;
        border-left: none;

        > a[data-tab] {
            position: relative; // needed for scanlines
            flex: 1;
            font-family: var(--header-font);
            white-space: nowrap;
        }

        a[data-tab].active {
            @include scan;
            background: var(--impmal-lightblue);
        }
    }

    .form-group select,
    .form-group input:not([type="checkbox"],[type="range"],[type="radio"]),
    select,
    input:not([type="checkbox"],[type="range"],[type="radio"]) {
        background: none;
        outline: none;
        border: 1px solid var(--impmal-lightblue);
        @include terminal-input;


        &:disabled {
            border: none;
        }

        optgroup {
            background: var(--impmal-lightblue)
        }
        
        option {
            background: var(--impmal-darkblue);
        }
    }

    input[type="radio"],
    input[type="checkbox"]
    {
        --checkbox-checked-color: var(--impmal-lightgreen);
        --checkbox-disabled-color: var(--color-cool-3);
        --checkbox-background-color: var(--impmal-darkgreen);
    }

    input[type="range"]
    {
        --range-track-color: var(--impmal-darkgreen);
        --range-thumb-background-color: var(--impmal-lightgreen);
        --range-thumb-border-color: var(--impmal-lightgreen);
    }

            // // Green glowy checkboxes and radio buttons
            // input[type="checkbox"] {
            //     -webkit-appearance: none;
            //     appearance: none;
            //     background: none;
            //     border: none;
    
            //     border: 1px solid var(--impmal-lightgreen);
    
            //     &:focus {
            //         background: none;
            //         border: 1px solid var(--impmal-lightgreen);
            //     }
    
            //     &::before {
            //         content: "";
            //     }
    
            //     &:checked {
            //         background: none;
            //         box-shadow: 0px 0px 10px var(--impmal-lightgreen);
    
            //         &::before {
            //             content: "";
            //             background: var(--impmal-lightgreen);
            //             display: block;
            //             height: 12px;
            //             width: 12px;
            //             position: relative;
            //             left: 3px;
            //             top: 3px;
            //         }
            //     }
            // }
            
    // // Some checkboxes in foundry sheets are a bit smaller, which screws up the special styling
    // label.checkbox>input[type="checkbox"]:checked::before {
    //     height: 10px;
    //     width: 10px;
    //     left: 2px;
    //     top: 2px;
    // }




&.advancement {
    .total,
    .value {
        font-family: monospace;
    }

    .window-content {
        gap: 0px;
    }

    .advancement-list {
        .header {
            border-bottom: 1px solid var(--impmal-lightblue);
            margin-bottom: 3px;
        }
        .characteristic:nth-child(even),
        .skill:nth-child(even)
        {
            background-color: rgba(6, 92, 99, 0.3)
        }

        > * {
            padding: 3px;
        }
    }

    .advancement-info {
        background-color: var(--impmal-lightblue);
    }

    .overspent {
        position: relative;
        @include scan;
    }
}
&.active-effect-config {
    .script {
        background-color: var(--impmal-lightblue);
    }
}


&.roll-dialog-v2 {
    .state-label {
        background: var(--impmal-lightblue);
        padding: 0px;
        height: 1.5rem;
        span {
            background: var(--impmal-darkblue);
            width: 1rem;
            height: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
        }
    }

    .dialog-modifiers {

        label {
            background: var(--impmal-lightblue);
            padding: 0.5rem;
        }

        .modifier.active {
            --modifier-bg: var(--impmal-lightgreen);
            color: black;
        }
    }
}

}