@use "./var" as *;

body.impmal-theme {

  body #chat-popout,
  #interface #chat-notifications,
  #interface #sidebar {

    --color-scrollbar: var(--impmal-lightgreen);

    @include link-styles(var(--impmal-lightgreen));

    textarea {
      background: rgba(28, 49, 50, 0.7);
      color: #DDD;
      border-color: var(--impmal-lightblue);
      border: var(--impmal-lightblue);

      &:focus {
        box-shadow: inset 0 0 5px var(--impmal-lightblue);
      }
    }

    button {
      @include impmal-button;

      &[aria-pressed='true'],
      &.active {
        background: var(--impmal-lightgreen);
      }
    }

    #chat-message:focus {
      outline-color: var(--impmal-lightgreen);
    }


    .chat-message {

      .message-content {
        @include editor-content-alt;
      }

      .table-description {
        color: white;
      }

      h1,
      h2,
      h3,
      h4 {
        color: var(--impmal-grey2)
      }

      h2,
      h3 {
        border-color: var(--impmal-lightgreen)
      }

      &.highlight,
      &.highlight-delayed {
        box-shadow: 0px 0px 10px var(--impmal-lightgreen) inset;
      }

      border: 3px double var(--impmal-darkgreen);
      // background: rgba(0, 0, 0, 0.5);
      background: rgba(37, 100, 75, 0.5);
      color: #DDD;

      &.whisper {
        background: rgba(6, 92, 99, 0.5);
        border-color: var(--impmal-lightblue);

      }

      &.blind {
        background: rgba(125, 66, 207, 0.5);
        border-color: rgba(125, 66, 207, 1);
      }

      .message-header {
        color: #DDD;
      }

      .item-post {
        border-color: var(--impmal-lightgreen)
      }

      button {
        background-color: var(--impmal-darkgreen);
        border: 1px solid var(--impmal-lightgreen);
        box-shadow: 0 0 5px var(--impmal-lightgreen) inset;

        &:hover {
          background-color: var(--impmal-lightgreen);
        }
      }


      .opposed {


        .applied.apply-damage:hover {
          background-color: var(--impmal-darkgreen);
        }

        .critical .table-roll {
          border-color: var(--impmal-lightgreen);
          border-radius: 0px;
          background: var(--impmal-darkgreen);
          box-shadow: 0 0 5px var(--impmal-lightgreen);
        }
      }

      .dice-roll .dice-formula,
      .dice-roll .dice-total {
        border-color: var(--impmal-lightgreen);
        box-shadow: 0 0 2px var(--impmal-lightgreen) inset;
        font-family: monospace;
      }

      .dice-total {

        @include scan;

      }


      .dice-tooltip {
        .dice-rolls .roll {
          font-family: monospace;
        }

        .part-header {
          border-color: var(--impmal-lightgreen);

          .part-total {
            border-color: var(--impmal-lightgreen);
          }
        }
      }

      img.result-image {
        border-color: var(--impmal-lightgreen);
      }


      .impmal.test {
        .sl {
          div {
            background-image: url(./assets/ui/grid.webp);
            background-size: cover;
            border: 1px solid var(--impmal-lightgreen);
            position: relative;
            @include scan;
            font-family: monospace;
          }
        }

        .tags {
          >* {
            border-color: var(--impmal-lightgreen);
            border-radius: 0px;
            background: var(--impmal-darkgreen);
            box-shadow: 0 0 5px var(--impmal-lightgreen);
          }
        }

        .comparison {
          .roll {
            .reverse-icon {
              background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, var(--impmal-lightgreen) 50%);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        .fumble a {
          color: var(--impmal-orange);
        }



        .color-positive {
          color: var(--impmal-lightgreen);

          i {
            color: var(--impmal-lightgreen)
          }
        }

        .color-negative {
          color: var(--impmal-orange);

          i {
            color: var(--impmal-orange)
          }

        }
      }

      .opposed {

        .opposed-details {
          &.attacker-winner {
            .SL {
              color: var(--impmal-lightgreen);
            }
          }

          &.defender-winner {
            .SL {
              color: var(--impmal-orange)
            }
          }
        }

        .response-buttons {
          .secondary {
            color: var(--impmal-orange)
          }
        }
      }


      .item-use {
        background: rgba(0, 0, 0, 0.3);
        .item-header {
            p {
              font-family: var(--header-font);
            }
        }
    }
    }
  }

  
}