@use "./var" as *;


body:not(.no-theme) .impmal.document-choice,
body:not(.no-theme) .impmal.dialog,
body:not(.no-theme) .impmal.test-dialog 
{

    .adv-dis {
        .state-label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            white-space: nowrap;
            background: var(--impmal-lightblue);
        }

        .state-value {
            background: var(--impmal-darkblue);
            padding: 5px;
            width: 22px;
            height: 26px;
            text-align: center;
        }
    }

    .dialog-modifiers {
        label {
            background: var(--impmal-lightblue);
        }

        .modifiers {
            padding: 0px;
            margin:0px;
        }
        .modifier {
            a {
                margin-left: 5px;
            }
            padding: 5px;
        }

        .modifier.active {
            background: var(--impmal-lightblue);
            position: relative;
            @include scan;
        }
    }

    .selected {
        box-shadow: 0px 0px 15px inset var(--impmal-lightgreen);
    }
}