@use "./var" as *;

body:not(.no-theme) .impmal.item {
    .detail-row:not(.name) {
        .detail-group {
            padding: 5px;
            margin: 5px;
            @include reticule (2px, 7px, var(--impmal-lightblue));
            
            &:hover {
                transition: 0.5s;
                background-color: rgba(6, 92, 99, 0.2)
            }
        }
    }

    .choice-group .choice-text,
    .compact-list {
        color: unset
    }

    .green {
        color: var(--impmal-lightgreen);
    }

    
    .slot-display {

        .slot {
            border-color: var(--impmal-lightgreen);
            &.empty {
                border-color: var(--impmal-lightgreen);
            }
            .slot-remove {  
                background-color: var(--impmal-lightgreen);
                color: var(--impmal-darkgreen);
                border-radius: 50%;
            }
        }
    }
}