@use "./var" as *;

body.impmal-theme {


    .application.impmal.sheet {
        --color-text-primary: #DDD;

        --color-scrollbar: var(--impmal-lightgreen);
        --slot-border: var(--impmal-lightgreen);
        --slot-bg: var(--impmal-lightgreen);
        --slot: var(--impmal-lightgreen);
        --form-group-border: var(--impmal-lightblue);

        --name-bg: var(--impmal-lightblue);
        --name-border: var(--impmal-lightblue);
        --name-label: var(--impmal-darkblue);
        --attribute-border: var(--impmal-lightblue);

        .description,
        .editor-section {
            @include editor-content-alt;
        }


        font-family: var(--header-font);

        hr {
            color: var(--impmal-lightgreen);
            background-image: linear-gradient(90deg, transparent 0%, var(--impmal-lightgreen) 50%, transparent 100%);
        }

        .input-list .fields>* input:not([type=checkbox], [type=range], [type=radio]) {
            border: 1px solid var(--impmal-lightblue);
            border-radius: 4px;
            flex: 0 0 2rem;
            margin-right: 3px;
        }

        .details-row.name {
            background-image: url(./assets/ui/name-bg.webp);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 0px 10px;

            input {
                border: none;
                box-shadow: none;
                background: none;
                font-weight: bold;
                color: var(--impmal-darkblue);
                font-size: 1.3rem;
                height: 2rem;
                font-family: var(--header-font);
                text-align: center;

                &:focus {
                    border: unset;
                    background: unset;
                }
            }
        }

        .form-group {
            label {
                background: var(--impmal-darkblue);
            }

            select,
            input:not([type=checkbox], [type=range], [type=radio]) {
                border: none;
            }
        }

        .attribute-box {
            @include reticule (2px, 7px, var(--impmal-lightblue));

            height: unset;

            .label,
            .field {
                border: none;

                select,
                input {
                    background: rgba(0, 0, 0, 0.05);
                    border-radius: 3px;
                    margin: 0.2rem;
                    border: 1px solid var(--impmal-lightblue);

                    &:disabled {
                        border: none;
                    }
                }
            }

            .field {
                margin-bottom: 0.2rem;
            }

            &.top-label {

                .label,
                .field {
                    border: none;
                }
            }

            &:hover {
                transition: 0.5s;
                background-color: rgba(6, 92, 99, 0.2)
            }
        }

        .editor-section div.header {
            background: var(--impmal-lightblue);
        }

        .sheet-header {
            .attribute-box.single {
                background: none;

                .label {
                    background: var(--impmal-lightblue);
                }

                .field {
                    background: var(--impmal-darkblue);

                    select,
                    input {
                        border-radius: 0px;
                        margin: 0px;

                        &:focus {
                            border: 1px solid var(--impmal-lightblue);
                            background: none;
                        }

                        border: 0px;
                    }
                }

            }
        }

        .tab[data-tab="effects"] {

            --condition: var(--impmal-lightblue);
            --pip: var(--impmal-lightgreen);

            .conditions {
                .condition {

                    .pips {

                        .pip {

                            &.filled {
                                box-shadow: 0px 0px 5px var(--pip);
                            }
                        }
                    }
                }
            }
        }
    }
}