@use "./var" as *;

  #interface:not(.no-theme)
  {
    --sidebar-separator : 1px solid var(--impmal-lightblue);

    --sidebar-entry-hover-bg: linear-gradient(90deg, var(--impmal-lightblue) 0%, rgba(0, 0, 0, 0) 100%);

    

    a.button,
    button {
      outline: none;
        @include impmal-button;
        
        &[aria-pressed='true'],
        &.active {
            background: var(--impmal-lightgreen);
        }
    }

    .divider {
      font-family: "Novarese";
      font-size: 1.2rem;
      &::after,
      &::before {
        border-color: var(--impmal-lightgreen);
      }
    }

    .resources {
      .resource {
        justify-content: center;

        label {
          background-color: var(--impmal-lightblue);
          height: 2rem;
          line-height: 2rem;
          padding: 0px 0.5rem;
        }
        input {
          background :var(--impmal-darkblue);
          border-radius: 0px;
          margin-left: 0px;
          outline: none;
          padding: 0px;
          text-align: center;
        }
      }
    }

      #scene-navigation {

        .ui-control {
            border-color: var(--impmal-lightblue);
            background: rgba(28, 49, 50, 0.5);
        }

           .scene {
            background: var(--impmal-darkblue);
            border-color: var(--impmal-lightblue);

            &.gm {
                border-color: var(--impmal-lightblue);
            }

            &.view {
                background: var(--impmal-darkgreen);
            }
        }
    }

    
    #players-inactive,
      #players-active {
      border: 2px solid var(--impmal-lightblue);
      background: var(--impmal-darkblue);

      h3 {
          border-color: var(--impmal-lightblue);
      }

      ol .player-name.self {
          color: var(--impmal-lightgreen);
      }
  }
  }