@use "./var" as *;

body.impmal-theme {

  #pause
  {
    @include scan
  }
  .compendium-directory.sidebar-tab {
    .window-header {
      background: none;
      border: none;
      box-shadow: none;
    }
    .compendium-name {
      color: var(--impmal-grey2);
      strong::after {
        background: linear-gradient(to right, transparent, var(--impmal-lightgreen), transparent);
      }
    }
  }

  .sidebar-tab,
  #interface
  {
    --color-scrollbar: var(--impmal-lightgreen);
    --sidebar-separator : 1px solid var(--impmal-lightblue);

    --sidebar-entry-hover-bg: linear-gradient(90deg, var(--impmal-lightblue) 0%, rgba(0, 0, 0, 0) 100%);

    font-family: var(--header-font);


    button {

      --button-text-color: var(--impmal-grey2);
      --button-focus-outline-color: var(--impmal-lightgreen);
      --button-hover-background-color: var(--impmal-lightgreen);
      --button-hover-text-color: var(--color-light-1);
  }

    #settings,
    .action-buttons {

      a.button,
      button {
        outline: none;
        @include impmal-button;
      }

        &[aria-pressed='true'],
        &.active {
            background: var(--impmal-lightgreen);
        }
    }

     .compendium {
      color: var(--impmal-grey2);
    }

    .divider {
      font-family: var(--header-font);
      font-size: 1.2rem;
      &::after,
      &::before {
        border-color: var(--impmal-lightgreen);
      }
    }

    .resources {
      .resource {
        justify-content: center;

        label {
          background-color: var(--impmal-lightblue);
          height: 2rem;
          line-height: 2rem;
          padding: 0px 0.5rem;
        }
        input {
          background :var(--impmal-darkblue);
          border-radius: 0px;
          margin-left: 0px;
          outline: none;
          padding: 0px;
          text-align: center;
        }
      }
    }

      #scene-navigation {

        .ui-control {
            border-color: var(--impmal-lightblue);
            background: rgba(28, 49, 50, 0.5);
        }

           .scene {
            background: var(--impmal-darkblue);
            border-color: var(--impmal-lightblue);

            &.gm {
                border-color: var(--impmal-lightblue);
            }

            &.view {
                background: var(--impmal-darkgreen);
            }
        }
    }

    #menu {
      background-image: url(./assets/ui/grid.webp);
      background-size: cover;
      border: 3px double var(--impmal-lightgreen);
      border-radius: 2px;
  }




    #players-inactive,
      #players-active {
      border: 2px solid var(--impmal-lightblue);
      background: var(--impmal-darkblue);

      h3 {
          border-color: var(--impmal-lightblue);
      }

      ol .player-name.self {
          color: var(--impmal-lightgreen);
      }
  }
  }

    #context-menu {

      --background-color: var(--color-dark-6);
      --text-color: var(--impmal-grey2);
      --hover-text-color: var(--color-text-emphatic);
      --hover-entry-background: var(--impmal-darkgreen);

      background-image: url(./assets/ui/grid.webp);
      background-size: cover;
      border: 3px double var(--impmal-lightgreen);
      border-radius: 2px;
    }
}