<section class="list">
    <header class="list-row">
        <div class="list-name">{{localize "IMPMAL.Talent"}}</div>
        <div class="list-controls">
            <a class="list-create" data-type="talent"><i class="fa-solid fa-plus"></i></a>
        </div>
    </header>
    <div class="list-content">
        {{#each items.talent}}
        <div class="list-item">
            <div class="list-row">
                <div class="list-name">
                    <img src="{{this.img}}">
                    <a>{{this.name}}</a>
                </div>
                <div class="list-controls">
                    <a class="list-create" data-type="talent"><i class="fa-solid fa-edit"></i></a>
                    <a class="list-post" data-type="talent"><i class="fa-solid fa-comment"></i></a>
                    <a class="list-delete" data-type="talent"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            <div class="summary">

            </div>
        </div>
        {{/each}}
    </div>
</section>