.impmal.actor {

    // Makes just the tab content scroll instead of the whole sheet
    .window-content {
        overflow-y: hidden;
        height: 100%;

        form {
            height: 100%;

            .tab-section {
                height: calc(100% - 135px);

                .tab-content {
                    height: calc(100% - 35px);
                    overflow-y: auto;
                    padding-right: 10px;

                }
            }
        }
    }

    .sheet-header {
        display: flex;
        width: 100%;

        img {
            flex: 0 0 100px;
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }

    .header-details {
        display: flex;
        flex-direction: column;
        flex: 1;

        .details-row {
            display: flex;

            .detail-group {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin: 0px 5px;

                label {
                    padding: 0px 3px;
                }
                
                .input-group {
                    border-bottom: 1px solid black;
                    display: flex;
                    align-items: center;

                    .singleton-item {
                        width: calc(100% - 2px);
                        height: 26px;
                        line-height: 24px;
                        padding: 1px 3px;
                        white-space: nowrap;
                    }

                    input {
                        border: none;
                        background: none;
                    }

                    input:focus {
                        box-shadow: none;
                    }

                    select {
                        border : none;
                        background: none;
                        width: 100%;
                        padding: 0px;
                    }
                    
                    select:focus {
                        box-shadow: none;
                    }

                    input.singleton-present
                    {

                    }
                }
            }
        }

        .details-row.name {
            text-align: center;
        }
    }


    .actor-properties {
        display: flex;

    }

    .actor-property.inline,
    .actor-property {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 5px;

        .property-label {}

        .property-value {
            flex: 1;
            width: 100%;
            display: flex;

            input {
                margin: 3px;
            }
        }
    }

    .actor-property.inline {
        flex-direction: row;
        align-items: center;
    }

    .tab-content .section {
        display: flex;
        flex-direction: column;
        width: 100%;

        header {
            display: flex;
            width: 100%;

            .section-controls {
                flex: 0 0 40px;
            }
        }

        .section-content {}
    }


    section.list.influence {

        .list-item {
            margin-bottom: 5px;
        }

        .faction-name {
            white-space: nowrap;
            padding: 4px 0px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .handle {
            height: 5px;
            border-top: 2px solid #CCC;
            padding: 3px;
            margin: 3px;
            transition: border-color 200ms,  padding 200ms;
            cursor: pointer;
        }

        .handle.active,
        .handle:hover {
            border-top: 2px solid #777;
            padding-top: 10px;
        }

        .influence-source {
            display: flex;
            flex-direction: column;
            align-items: center;

            .list-row {
                width: 100%;
                margin: 5px;
            }

            button {
                line-height: 10px;
                width: 60px;
                height: 25px;
                margin: 10px;
                font-size: var(--font-size-12);
                i {
                    margin: 0px;
                }
            }
        }

        
        .collapsed {
            display: none
        }
    }


    .skill-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        header {
            font-weight: bold;
        }

        .skill-row {
            text-align: center;
            display: flex;
            align-items: center;
            border-top: 1px solid #BBB;
            padding: 5px 0px;

            &.skill-header {
                border-top: none;
            }
            .skill-name,
            .skill-characteristic {
                display: flex;
                flex: 2;

                >* {
                    flex: 1
                }
            }

            >* {
                display: flex;
                flex: 1;
                justify-content: center;
            }

            input {
                height: unset;
            }

            >*:first-of-type {
                justify-content: left;
                margin-left: 5px;
            }

            > .skill-controls {
                display: flex;
                align-items: center;
                flex: 0 0 15px;
            }
        }
        .skill-row.spec {
            border-top: none;
            position: relative;
            .skill-name{
                position: relative;
                margin-left: 24px;
                margin-right: -24px;

                &:before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    border: 2px solid #AAA;
                    border-right: 0px;
                    border-top: 0px;
                    border-bottom: 0px;
                    position: absolute;
                    top: -25px;
                    left: -24px;
                }
            }

            &.first {
                .skill-name {
                    &:before {
                        border: none;
                    }
                }
            }
        }
        .spec:before {
            content: "";
            width: 20px;
            height: 10px;
            border: 2px solid #AAA;
            border-bottom-left-radius: 5px;
            border-right: 0px;
            border-top: 0px;
            position: absolute;
            top: 0px;
        }
        }
    
        .tab.talents {
            .advanced-effects {
                display: flex;
                gap: .5rem;
    
                >a {
                    border: 1px solid black;
                    text-align: center;
                    padding: 5px;
                    border-radius: 10px;
    
                    position: relative;
    
    
                    &:first-of-type {
                        margin-left: 48px;
    
                        &:before {
                            content: "";
                            margin-top: 3px;
                            width: 28px;
                            height: 17px;
                            border: 2px solid #AAA;
                            border-right: 0px;
                            border-top: 0px;
                            position: absolute;
                            top: -8px;
                            left: -35px;
                        }
                    }
                }
            }
        }


    .hit-locations {
        display: flex;
        flex-direction: column;
        // flex: 0 0 180px;
        flex: 0.5;
        border: 1px solid black;
        padding: 5px;
        margin: 5px;

        .location {
                    
            &:nth-of-type(even) {   
                background:rgba(0, 0, 0, 0.1)
            }


            display: flex;
            flex-direction: column;
            padding: 5px 3px;
            
            .location-values {
                display: flex;
                justify-content: space-between;
                > * {
                    flex: 0 0 25px;
                }
                label {
                    flex: 1
                }
            }

            .location-details {
                &.collapsed {
                    display: none;
                }
            }

            .armour-damage {
                color: darkred;
            }

            .range {
                text-align: right;
                opacity: 0.5;
            }
        }

        .protection-item {
            
            display: flex;
            justify-content: space-between;
            label {
                margin-left: 10px;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .damage-armour {
                &.damaged {
                    color: darkred;
                }
                flex: 0 0 25px;
            }
        }

    }

    .list .aux-row {
        display : flex;
        flex-wrap: wrap;
    }

    .weapon-traits {
        display : flex;
        label {
            font-weight: bold;
            border: 1px solid black;
            width: 15px;
            height: 15px;
            background:rgba(0, 0, 0, 0.1);
            text-align: center;
            line-height: 15px;
            margin-right: 3px;
        }
        .trait-list {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }
    }


    .list .shield-traits {
        flex: 4;
    }

    .armour-traits {
        width: 100%;
        height: 22px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    .mag {
        display : flex;
        align-items: center;

        border: 1px solid black;
        padding: 3px;
        height: 15px;
        background:rgba(0, 0, 0, 0.1);
        text-align: center;
        line-height: 15px;
        margin: 0px 3px;


        margin-right: 10px;
        > * {
            margin-right: 5px;
        }
        .values {
            display: flex;
        }
    }


    .bar-section
    {
        flex: 5;
        display: flex;
        align-items: center;

        .bar-container {
            margin: 0px 5px;
            width: 100%;
            border: 1px solid #5E82AF;
            height: 15px;
            border-radius: 10px;
            .bar {
                height: 100%;
                border-radius: 15px;
                background-color: #5E82AF;
            }

            .threshold {
                width: 0px;
                height: 0px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid darkblue;
                position: relative;
                margin-bottom: -5px;
            }
        }
    }

    .powers {

        .sustaining {

            line-height: 2.5rem;
            width: 100%;
            padding: 5px;
            > label {
                text-align: center;
                line-height: 1rem;
                font-weight: bold;

            }
            .sustained-list {
                .power {

                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    label {
                        flex: 1;
                    }
                    img {
                    flex: 0 0 2.5rem;
                    height: 2.5rem;
                    width: 2.5rem;
                }
                .controls {
                    flex: 0 0 40px;
                }
            }
            }
        }

        .warp-charge {
            white-space: nowrap;
            a {
                color: darkblue;
            }
            
            .bar-container {
                height: 25px;
                position: relative;
                border-radius: 25px;
                    .perils {
                        position: absolute;
                        top: 3px;
                        width: 100%;
                        text-align: center;
                        a {
                            color: white;
                        }
                    }
                }
            display: flex;
            justify-content: left;
            align-items: center;
        }
    }

    .notes-tab {
         height: calc(100% - 10px);
    }


    .actor-notes {
        height: 100%;
        display: flex;
        flex-direction: column;
        > * {
            flex: 1
        }
        .notes-content {
            height: calc(100% - 16px);
        }
    }

    .editor {
        height: 100%;
    }

    .tab.effects {
        .list-name {
            flex: 1
        }

        .add-effect {
            height: 1.5rem;
            margin:3px;
        }
    }

    .defending-against {
        cursor: pointer;
        width: 100%;
        display: flex;
        border: 1px dashed black;
        border-radius: 5px;
        height: 50px;
        padding: 5px;
        img {
            object-fit: contain;
            flex: 0 0 40px;
        }
        .attack-details {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            label {
                font-weight: bold;
            }
            > * {
                width : 100%;
                display: flex;
                justify-content: space-around;
            }
        }
        .gradient-border {
            height: 1px;
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 49%, rgba(255,255,255,0) 100%); 
        }

        .remove-opposed {
            margin: 5px;
            line-height: 30px;
        }
    }

    // Same as roll tags, combine?
    .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5px;

        >* {
            border: 1px solid #555;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.05);
            padding: 1px 3px;
            margin: 0px 3px 3px 3px;
        }
    }

    .action-list {
        display: flex;
        flex-wrap: wrap;
        > * {
            width: fit-content;
            height: 20px;
            margin: 3px;
            line-height: 10px;
        }
        .current-action {
            display: flex;
            align-items: center;
            label {
                margin: 0px 5px 0px 0px;
            }
        }
    }

    .sheet-effect-buttons {
        display: flex;
        margin: 3px;
        button {
            display: flex;
            align-items: center;
            padding: 3px;
            font-size: var(--font-size-12);
            width: fit-content;
            height: 1.5rem;
        }
    }

    .slots {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 5px 0px;

        .slot {
            min-height: 2rem;
            line-height: 2rem;
            min-width: 3rem;
            padding: 0px 5px;
            text-align: center;
            border: 1px solid black;
            border-radius: 10px;
            position: relative;

            .slot-details {
                display: flex;
                align-items: center;
                gap: 3px;
                justify-content: center;
                img {
                    height: 20px;
                    width: 20px;
                }
            }
            &.empty {
                border: 1px dashed black;
            }

            .slot-remove {  
                position: absolute;
                right: 0px;
                top: -5px;
                height: 10px;
                width: 10px;
                line-height: 0.5rem;
                text-align: center;
                background-color: black;
                color: white;
                border-radius: 50%;
                i {
                    font-size: 0.5rem;
                    margin: 0px;
                }
            }
        }
    }


}