.impmal.actor {

    // Makes just the tab content scroll instead of the whole sheet
    .window-content {
        overflow-y: hidden;
        height: 100%;

        form {
            height: 100%;

            .tab-section {
                height: calc(100% - 120px);

                .tab-content {
                    height: calc(100% - 35px);
                    overflow-y: auto;

                    .tab.active {
                        height: calc(100% - 10px);
                    }
                }
            }
        }
    }

    .sheet-header {
        display: flex;
        width: 100%;

        img {
            flex: 0 0 100px;
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }

    .header-details {
        display: flex;
        flex-direction: column;
        flex: 1;

        .details-row {
            display: flex;

            .detail-group {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin: 0px 5px;


                label {
                    padding: 0px 3px;
                }
                
                .input-group {
                    border-bottom: 1px solid black;
                    display: flex;
                    align-items: center;

                    .singleton-item {
                        width: calc(100% - 2px);
                        height: 26px;
                        line-height: 24px;
                        padding: 1px 3px;
                    }

                    input {
                        border: none;
                        background: none;
                    }

                    input:focus {
                        box-shadow: none;
                    }

                    select {
                        border : none;
                        background: none;
                        width: 100%;
                        padding: 0px;
                    }
                    
                    select:focus {
                        box-shadow: none;
                    }

                    input.singleton-present
                    {

                    }
                }
            }
        }

        .details-row.name {
            text-align: center;
        }
    }


    .actor-properties {
        display: flex;

    }

    .actor-property.inline,
    .actor-property {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 5px;

        .property-label {}

        .property-value {
            flex: 1;
            width: 100%;
            display: flex;

            input {
                margin: 3px;
            }
        }
    }

    .actor-property.inline {
        flex-direction: row;
        align-items: center;
    }

    .tab-content .section {
        display: flex;
        flex-direction: column;
        width: 100%;

        header {
            display: flex;
            width: 100%;

            .section-controls {
                flex: 0 0 40px;
            }
        }

        .section-content {}
    }


    section.list.influence {
        input {
            border: none;
            background: none;
            border-bottom: 1px solid black;
            border-radius: 0px;
            text-align: left;
        }

        input[type="number"] {
            text-align: center;
        }

        input:focus {
            box-shadow: none;
        }
    }


    .skill-list {
        display: flex;
        flex-direction: column;
        width: 100%;

        header {
            font-weight: bold;
        }

        .skill-row {
            text-align: center;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #BBB;
            padding: 2px 0px;

            .skill-name,
            .skill-characteristic {
                display: flex;
                flex: 2;

                >* {
                    flex: 1
                }
            }

            >* {
                display: flex;
                flex: 1;
                justify-content: center;
            }

            >*:first-of-type {
                justify-content: left;
            }

            > .skill-controls {
                display: flex;
                align-items: center;
                flex: 0 0 15px;
            }
        }
        .skill-row.spec {
            .skill-name{
                justify-content: center;
            }
        }
    }


    .hit-locations {
        display: flex;
        flex-wrap: wrap;
        .location {
            padding: 3px;   
            border-radius: 5px;
            border: 1px solid black;
            text-align: center;
            min-height: 80px;
            width: 100px;
            margin: 5px;
            flex: 1;
            display: flex;
            flex-direction: column;
            
            .protection-list {
                flex: 1;
            }

            .range {
                text-align: right;
                opacity: 0.5;
            }
        }
    }

    .list .weapon-traits {
        display : flex;
    }

    .mag {
        display : flex;
        align-items: center;
        margin-right: 10px;
        > * {
            margin-right: 5px;
        }
        .values {
            display: flex;
        }
    }


    .encumbrance-section
    {
        flex: 5;
        display: flex;
        align-items: center;

        .encumbrance-bar-container {
            width: 100%;
            border: 1px solid #5E82AF;
            height: 15px;
            border-radius: 10px;
            .bar {
                height: 100%;
                border-radius: 15px;
                background-color: #5E82AF;
            }

            .threshold {
                width: 0px;
                height: 0px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid darkblue;
                position: relative;
                margin-bottom: -5px;
            }
        }
    }


    .actor-notes {
        height: 100%;
        display: flex;
        flex-direction: column;
        > * {
            flex: 1
        }
        .notes-content {
            height: calc(100% - 16px);
        }
    }

    .editor {
        height: 100%;
    }

    .conditions {
        .condition {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            .pips {
                display: flex;
                width: 100%;
                justify-content: center;
                height: 10px;
                .pip {
                    border-radius: 10px;
                    border:  1px solid #5E82AF;
                    cursor: pointer;
                    width: 20px;
                    margin: 0px 3px;
                }

                .pip.filled {
                    background: #5E82AF;
                }
            }
        }
    }

}