.impmal.actor.character {

    .characteristic-table {
        text-align: center;
        background: none;
        border: 0px;
        tr {
            background: none;
            border-bottom: 1px solid black;
            td {
                border-right: 1px solid black;
            }
            td:last-of-type {
                border-right: 0px;
            }
            td:first-of-type {
                text-align: left;
                width: 100px;
            }
        }
        tr:last-of-type {
            border-bottom: 0px;
        }

        input {
            border: 0px;
            background: none;
            width: 100%; 
            height: 100%;
        }

        input:focus {
            box-shadow: none;
        }
    }


    .actor-property:has(.xp)
    {
        flex: 2;
        padding: 3px;
    }
    .xp {
        text-align: center;
        display: flex;
        align-items: center;
        div {
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }

    .patron {
        &.hover {
            box-shadow: 0 0 10px inset black;    
        }
        border: 1px solid black; 
        height: 120px;
        display: flex;
        align-items: center;
        margin: 10px;
        cursor: pointer;
        img {
            height: 100px;
            width: 100px;
        }

        .missing {
            text-align: center;
            font-size: 30px;
            width: 100%;
            pointer-events: none;
        }

        .details {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            text-align: center;
            .name {
                width: 100%;
                font-size: var(--font-size-20);
                margin-bottom: 5px;
            }
            > div {
                flex: 1;
                display: flex;
                width: 100%;
                > .group {
                    margin: 0px 5px;
                    text-align: center;
                    display:flex;
                    flex-direction: column;
                    flex: 1;
                    label {
                        border-top: 1px solid black;
                    }
                    > div 
                    {
                        min-height: 17px; // If no text is present, keep height the same as if there were
                    }
                }
            }
        }

        position: relative;
        .remove-ref {
            position: absolute;
            right: 5px;
            top: 3px;
        }
    }

    .ammo-selector {
        width: 100%;
    }

    [data-hand="left"] i {
        transform: scaleX(-1);
    }

    .grip {
        opacity: 0.5;
        margin: 0px 5px;
        white-space: nowrap;
    }

    .equip.offhand,
    .grip .offhand {
        color: darkred
    }

    
    .actor-notes {
        height: calc(100% - 185px);
    }
}