.impmal.actor.npc {

    .window-content form .tab-section .tab-content {
        height: calc(100% - 205px);
    }

    .npc-grid {
        display: grid;
        grid-template-columns: repeat(9, 11.1%);
        grid-template-rows: repeat(6, 16.6%);//16.6% 16.6% 33% 33%;
        height: 200px;
        > * {
            line-height: 25px;
        }
    }

    .characteristic {
        text-align: center;
        > a {
            display: flex;
            > * {
                flex: 1
            }
        }
    }

    .grid-property {
        grid-column  : span 3;
        grid-row : span 2;

        display: flex;
        flex-direction: column;
        > * {
            flex: 1
        }
        > div {
            display: flex;
            margin: 0px 5px;
            > * {
                width: 100%;
                text-align: center;
            }
        } 
        > label {
            text-align: center;
        }
    }

    .armour-properties {
        .plus {
            width: unset;
            margin: 0px 5px;
        }

        .locations {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            height: 30px;
            .location {
                height: 30px;
                .location-values {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    line-height: 15px;
                }
            }
        }

    }

    .item-section {
        border-top: 1px solid black;
        margin: 5px 0px;
        padding: 5px 0px; 
        display: flex;
        flex-direction: column;
        h3 {
            text-transform: uppercase;
            border-bottom: none;
            margin: 0px;
            display: flex;
            justify-content: space-between;
            a {
                font-size: var(--font-size-14)
            }
        }

        .trait-name {
            margin-right: 3px;
        }

        .attack-traits {
            font-style: italic;
        }

        button {
            margin: 0px;
            width: fit-content;
        }

        .ammo {
            display : flex;
            align-items: center;
            > * {
                border : 1px solid #5E82AF;
                border-radius: 10px;
                padding: 1px 3px;
                display :flex;
                align-items: center;
            }
            img {
                width: 20px
            }
        }

        .npc-buttons {
            display: flex;
            > button {
                display: flex;
                margin: 2px 5px;
                height: 20px;
                font-size: var(--font-size-12);
                align-items: center;
            }
        }
    }

    .item-section.skills {
        flex-direction: row;
        flex-wrap: wrap;
        > a {
            margin-left: 5px;
        }
    }
}