.impmal.actor.patron {
    .profile {
        margin: 6px;
    }

    .window-content form .tab-section .tab-content {
        height: calc(100% - 60px);
    }

    .tab.main.active {
        display: flex;
        flex-direction: column;
        height: 100%;
        > * {
            flex: 1
        }

        .summary
        {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            transition: max-height 1s;
            max-height: 65px;
            cursor: pointer;    
        }

        .summary.expanded {
            -webkit-line-clamp: unset;
            transition: max-height 1s;
            max-height: 40em;
        }
    }
}