.impmal.actor.vehicle {

    .window-content form .tab-section .tab-content {
        height: calc(100% - 60px);
    }

    .vehicle-properties {
        display: flex;
        flex-direction: column;
        .flexrow {
            width: 100%;
        }
        .actor-property {
            padding: 5px;
        }

        .vehicle-armour {
            display :flex;
             > * {
                margin: 3px;
             }
        }
    }

}