body.theme-light .application.actor.impmal.vehicle {
    --actors: var(--color-dark-6);
    --drop: var(--color-cool-6);
}

.application.actor.impmal.vehicle
{   
    --actors: var(--color-cool-3);
    --drop: var(--color-cool-3);

    .sheet-list.vehicle-actors {
        border: 1px solid var(--actors);
        border-top: none;
        &.hover {
            box-shadow: 0 0 10px inset var(--actors);    
        }

        .droppable {
            height: 2rem;
            border: 1px dashed var(--drop);
            border-radius: 10px;
            line-height: 2rem;
            text-align: center;
            margin: 0.5rem;
            opacity: 0.5;
        }
    }
}
