<div class="impmal test">
    {{#if itemSummary}}
    {{{itemSummary}}}
    {{/if}}

    {{#if showChatTest}}
        <button data-action="chatTest" data-uuid="{{item.uuid}}">{{context.itemTest.label}}</button>
    {{/if}}
    {{{effectButtons}}}
</div>