<div class="item-post">
    <div class="post-header">
        <img src="{{img}}">
        <h4>{{name}}</h4>
    </div>
    {{{summary}}}
</div>
<button type="button" class="availability">{{localize "IMPMAL.Availability"}}</button>