<div class="impmal reward">
    {{reason}}
    {{#if solars}}
    <p>Solars: {{solars}}</p>
    {{/if}}
    {{#if xp}}
    <p>XP: {{xp}}</p>
    {{/if}}
    <button type="button" class="receive-reward">{{localize "IMPMAL.Receive"}}</button>
</div>