<div class="sheet-header">
    <img data-action="editImage" data-edit="img" src="{{item.img}}" {{#if (eq item.img "modules/warhammer-lib.assets/blank.png")}}class="img-border"{{/if}}>
    <div class="header-fields">
        <div class="details-row">
            <input type="text" name="name" value="{{source.name}}">
        </div>
        <div class="details-row">
            {{formGroup fields.category value=source.system.category choices=categories localize=true}}
        </div>
    </div>
</div>
