<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <div class="editor-section">
        <div class="header">{{localize "IMPMAL.Notes"}}</div>
            {{formInput fields.patron.fields.notes value=source.system.patron.notes enriched=enriched.system.patron.notes toggled=true}}
    </div>
</section>