.impmal.item {

    .sheet-header {
        display: flex;
        width: 100%;

        .item-image {
            flex: 0 0 100px;
        }

        .header-details {
            display: flex;
            flex-direction: column;
            flex: 1;

            .details-row {
                display: flex;
                
                .detail-group {
                    display: flex;
                    flex-direction: column;
                    flex: 1
                }
            }
        }
    }
}