.impmal.item.duty,
.impmal.item.faction {
    // Makes just the tab content scroll instead of the whole sheet
    .window-content {
        form {
            .tab-section {
                .tab-content {
                    height: calc(100% - 60px);
                }
            }
        }
    }
}

.impmal.item.background {
    input[type="number"]
    {
        width: 50px;
        flex: 0 0 50px;
    }
}