@import "./item-trait-sheet";
@import "./item-background-sheet";
@import "./item-weapon-sheet";

.impmal.item {

    // Makes just the tab content scroll instead of the whole sheet
    .window-content {
        overflow-y: hidden;
        height: 100%;

        form {
            height: 100%;

            .tab-section {
                height: calc(100% - 120px);

                .tab-content {
                    height: calc(100% - 35px);
                    overflow-y: auto;

                    .tab.active {
                        height: calc(100% - 10px);
                    }
                }
            }
        }
    }
    
    header {
        display: flex;
        width: 100%;

        .item-image {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 0 0 100px;
        }
    }

    .header-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: calc(100% - 100px);
        text-align: center;

        .details-row {
            display: flex;
            margin: 5px;

            .detail-group {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 5px;
                select,
                input {
                    height: 22px;
                }

            }

            .detail-group.inline {
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
            }
        }
    }

    .array {
        display: flex;
        flex-direction: column;

        .array-group {
            display: flex;
            align-items: center;

            >* {
                margin: 3px;
            }
        }
    }

    .item-notes {
        height: 100%;
        display: flex;
        flex-direction: column;

        > * {
            flex: 1;
        }

        .notes-content {
            height: calc(100% - 15px);
        }
    }
    .editor {
        height: 100%;
    }


    .conditions {
        .condition {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            .pips {
                display: flex;
                width: 100%;
                justify-content: center;
                height: 10px;
                .pip {
                    border-radius: 10px;
                    border:  1px solid #5E82AF;
                    cursor: pointer;
                    width: 20px;
                    margin: 0px 3px;
                }

                .pip.filled {
                    background: #5E82AF;
                }
            }
        }
    }

    .choice-group 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
            line-height: var(--form-field-height);
        }
        .choice-text {
            color: var(--color-text-dark-secondary);
            height: fit-content;
            border-radius: 3px;
            min-width: 100px;
            min-height: 30px;
            background: rgba(0, 0, 0, 0.05);
            padding: 5px 5px;
            display: flex;
            align-items: center;
        }
    }

    .checkbox-list {
        label {
            display: flex;
            align-items: center;
            input {
                margin-right: 5px;
                width: 50px;
            }
        }
        .fields {
            display: flex;
            flex-wrap: wrap;
            > *
            {
                flex: 0 0 130px;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
            }
        }
    }

    .property-list {
        label {
            display: flex;
            align-items: center;
            input {
                margin-right: 5px;
            }
        }
        .fields {
            display: flex;
            flex-wrap: wrap;
            > *
            {
                flex: 0 0 120px;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                margin: 3px 0px;
                input {
                    flex: 0 0 32px;
                    margin-right: 3px;
                }
            }
        }
    }

    .influence {
        input {
            margin: 5px;
        }
    }


    .compact-list {
        display: flex;
        text-align: center;
        align-items: center;
        width: calc(100% - 2px);
        min-width: 20px;
        min-height: var(--form-field-height);
        flex-wrap: wrap;
        background: rgba(0, 0, 0, 0.05);
        padding: 1px 3px;
        margin: 0;
        color: var(--color-text-dark-secondary);
        border-radius: 3px;
    }

}