.impmal.item {

    // Makes just the tab content scroll instead of the whole sheet
    .window-content {
        overflow-y: hidden;
        height: 100%;

        form {
            height: 100%;

            .tab-section {
                height: calc(100% - 120px);

                .tab-content {
                    height: calc(100% - 35px);
                    overflow-y: auto;

                    .tab.active {
                        height: calc(100% - 10px);
                    }
                }
            }
        }
    }
    
    header {
        display: flex;
        width: 100%;

        .item-image {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 0 0 100px;
        }
    }

    .header-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: calc(100% - 100px);
        text-align: center;

        .details-row {
            display: flex;
            margin: 5px;

            .detail-group {
                display: flex;
                flex-direction: column;
                flex: 1;

                select,
                input {
                    height: 22px;
                }

                input[type="number"] {
                    width: 40px;
                }
            }

            .detail-group.inline {
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
            }
        }
    }

    .array {
        display: flex;
        flex-direction: column;

        .array-group {
            display: flex;
            align-items: center;

            >* {
                margin: 3px;
            }
        }
    }

    .item-notes {
        height: 100%;
        display: flex;
        flex-direction: column;

        > * {
            flex: 1;
        }

        .notes-content {
            height: calc(100% - 15px);
        }
    }
    .editor {
        height: 100%;
    }

}