
body.theme-light .application.impmal.item {
    --label : rgba(0, 0, 0, 0.1);
    --slot : black;
}

.application.impmal.item {
    --label : var(--color-cool-4);
    --slot : var(--color-cool-3);

    
    nav.sheet-tabs {
        
        gap: unset;
        margin: 0px;
  }


    section.tab {
        overflow-y: auto;
    }

    .tab.effects {
        > div {
            align-items: start;
            .sheet-list {
                margin: 0px;
            }
        }
    }


    .sheet-header {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 0.5rem;
        .header-fields {
            flex: 1;
        }
        img {
            display: flex;
            align-items: center;
            flex: 0 0 100px;
            width: 100px;
        }

    }

    .slot-display {

        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        margin: 5px 0px;

        .slot {
            min-height: 3rem;
            line-height: 3rem;
            min-width: 5rem;
            padding: 0px 5px;
            text-align: center;
            border: 1px solid var(--slot);
            border-radius: 10px;
            position: relative;
            .slot-details {
                display: flex;
                align-items: center;
                gap: 3px;
                justify-content: center;
                img {
                    height: 30px;
                    width: 30px;
                }
            }
            &.empty {
                border: 1px dashed var(--slot);
            }

            .slot-remove {  
                position: absolute;
                right: 0px;
                top: -5px;
                height: 16px;
                width: 16px;
                line-height: 1rem;
                background-color: var(--slot);
                color: white;
                border-radius: 50%;
                i {
                    padding-top: 1px;
                    font-size: 1rem;
                }
            }
        }
    }


    .input-list {
        label {
            background: var(--label);
            input {
                width: 2rem;
                margin: 0px 1rem;
                margin-left: -3rem;
            }
        }
        .fields {
            border-top: 1px solid var(--form-group-border);
            display: flex;
            flex-wrap: wrap;
            > *
            {
                flex: 0 0 120px;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                gap: 0.5rem;
                margin: 0.5rem;
                input {
                    border-radius: 4px;
                    flex: 0 0 2rem;
                    margin-right: 3px;
                }
            }
        }
    }
}