<div>
    {{formGroup fields.useItems value=values.useItems rootId=rootId label="IMPMAL.UseItems" hint="IMPMAL.UseItemsHint" localize=true}}
    <div class="armour-fields {{#if values.useItems}}disabled inactive{{/if}}">
        {{formGroup fields.value value=values.value label="IMPMAL.Armour" localize=true}}
        {{formGroup fields.formula value=values.formula label="IMPMAL.Formula" localize=true}}
    </div>
</div>