<div>
    <label>{{localize "IMPMAL.HowManyMags"}}</label>
    <div class="form-group">
        <div class="form-fields">
            <input type="number" name="count" value="{{count}}">
            <input type="number" name="total" value="{{total}}" disabled>
        </div>
    </div>
</div>

    