<section class="list">
    <div class="list-content">
        {{#each object.items}}
        <div class="list-item" data-id="{{this.id}}" data-collection="items">
            <div class="list-row">
                <div class="list-name list-edit">
                    <img src="{{this.img}}">
                    <a>{{this.name}}</a>
                </div>
                <div class="list-controls">
                    <a class="list-delete"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>