.impmal.test-dialog {


    
    .adv-dis {
        display: flex;
        align-items: center;
        > * {
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}