.warhammer.roll-dialog-v2 {

    .dialog-fields {}

    .dialog-base .dialog-fields {

        .adv-dis {
            margin: 1rem 0px;
            display: flex;
            flex-direction: row;
            align-items: center;

            >* {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .state-label {
                margin: 10px;
                display: flex;
                align-items: center;

                // padding: 3px;
                label {
                    margin: 5px 5px;
                }
            }
        }
    }
}